*{margin: 0%; padding: 0%; box-sizing: border-box;}

body{
    font-family: monospace;
    background-color: #f3d9e8;
    font-size: larger;
}

ul{
    list-style: none;
    background:#91115c;
}

ul li {
   display: inline-block;
   position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background-color: #750e4a;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #9374a5;
}

ul li:hover ul.dropdown {
    display: block;
}

fieldset{
    background-color: #fff;
    border-radius: 15px;
    width: 800px;
    border: pink 3px solid;
    margin-top: 50px;
}

#textoEnunciado{
    text-align: justify;
    margin: 15px;
}

#enunciado{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.enunciado{
    margin-top: 15px;
}

h3{
    color: #91115c;
    text-align: center;
    margin-top: 15px;
}




